body {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;
    -webkit-font-smoothing: antialiased;  /*Свойство сглаживает шрифты*/

}

/* ----------------------
----------container--------
---------------------------*/


.container {
    width: 100%;
    max-width: 1200px; /*Было 1170 рх. Но когда делали Тим атомы, то чтоб они не прилимали по бокам к экрану, когда будем делать адаптивный вариант, мы добавили по 15рх паддинг всему контейнеру. А это в сумме 30. И поэтому увеличили макс ширину до 1200. Потому что 1200-30 = все равно 1170рх*/
    margin: 0 auto;
    padding: 0 15px;
}


/* ----------------------
----------header--------
---------------------------*/

.header {
    width: 100%;
    height: 100px;
    position: absolute; /*Слой над всеми слоями . То есть, он будет поверх intro*/
    top: 0;
    left: 0;
    z-index: 1000; /* Чтоб он был поверх всех элементов*/

    /*Есть блок intro. И поверх него теперь наша шапка*/
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 39px 0;
    border-bottom: 1px solid #515369;
    align-items: center;    /*ввыровнять по горизонтали*/
}

/* ----------------------
----------nav--------
---------------------------*/

.nav {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase; /*ВСЕ БУКВЫ БОЛЬШИЕ*/
    display: flex;
}
.nav__link {
    margin-left: 58px;
    color: #fff;
    opacity: 0.75; /*Прозрачность*/

    transition: opacity .2s linear; /*Плавный переход на измененение цвета при наведении*/
}
.nav__link:first-child {
    margin-left: 0;
}
.nav__link:hover {
    text-decoration: underline;
    opacity: 1;
}


/* ----------------------
----------intro--------
---------------------------*/

.intro {
    height: 750px;
    background: #323650 url(../img/intro-bg.jpg) no-repeat center /cover;
    padding: 100px; /* Отступ от шапки. Для того, чтоб контент блока начинался после шапки!!!!!!     */
    display: flex;
    flex-direction: column; /*каждый элемент будет начинаться с новой строки. В столбик*/
    justify-content: center; /*Чтоб выровнять по вертикали по центру блока intro*/
}

.intro-inner {
    width: 100%;
    max-width: 970px; /*Расстояние между направляющими*/
    margin: 0 auto;
    text-align: center;    /*И все содержимое выравнивается по центру по горизонтали*/
}

.intro__title {
    font-family: 'Open Sans';
    font-size: 65px;
    line-height: 1.1; /*Это вместо    71px      Потому что лучше тут не использовать фиксированный размер, а привязать его к размеру шрифта*/
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 40px; /*Когда нужно отделить элементы друг от друга*/
}

.intro__subtitle {
    font-family: Raleway;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 76px;
}

/* ----------------------
----------button--------
---------------------------*/

.btn {
    display: inline-block;  /*Это чтоб можно было задавать педдинги*/
    vertical-align: top;  /*выравнивание по вертикальной границе по верху*/
    text-align: center;

    font-family: Raleway;
    font-size: 13px;
    line-height: 21px;
    font-weight: 600;
    text-transform: uppercase;
    color: #ffffff;
    padding: 17px 53px;
    border-radius: 2px;
}

.btn--red {
    background-color: #e84545;
    transition: background 0.1s linear;
}

.btn--red:hover {
    background: #dd3434;
}

.btn--long {
    min-width: 280px;
}

/* ----------------------
----------features--------
---------------------------*/

.features {
    display: flex;
    flex-wrap: wrap;  /*Разрешаем переносить элементы на новую строку, елсли они не помещаются в контейенр*/
    color: #000;
    margin: 95px 0;
}

.features__item {
    width: 33.33333%;
    text-align: center;
    padding: 0 40px;
    margin: 35px 0;
}

.features__icon {
    margin-bottom: 25px;
}

.features__title {
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #2d3033;
    margin-bottom: 20px;
}

.features_text {
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #6c7279;
}

/* ----------------------
----------works--------
---------------------------*/


.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 350px;

    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;

    position: relative;
    overflow: hidden;
}

.works__item:hover .works__content {
    opacity: 1;

}

.works__photo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    transform: translate3d(-50% -50% 0);

    min-width: 100%;
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 100%;
    height: 100%;

    background-color: rgba(232, 69, 69, .9);
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    transition: opacity .2s linear;
}

.works__title {
    margin-bottom: 5px;

    font-family: Raleway;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}

.works__text {
    
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
}


/* ----------------------
----------Team--------
---------------------------*/

/*пропишем отступы для Team*/
.team {
    margin: 100px 0;
    margin-bottom: 70px; /* Потму что сделали маржин боттом у фйтомов 30 рх*/
}

/*Каждый участник занимает 25% от ширины
При этом справа и слева четко входит в шан конейрер
и между ними расстояние около 30px*/

.team__innner {
    display: flex;
    flex-wrap: wrap; /*Переносить колонки на новую строку если участников команды будет больше*/
    margin: 0 -15px;  /*Отрицательный мержин, чтоб убрать те 15рх, которые появились от паддинга каждого Айтома. Они по бокам выходят за пределы контейнера*/
}

.team__item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team__photo {
    display: block;  /*Чтоб картинка была адаптивна*/
    width: 100%; /* Чтоб максимально азнимала ширину ширины блока, в котором находится*/
    height: auto;
    margin-bottom: 20px;
}

.team__name {
    margin-bottom: 8px;

    font-family: Raleway;
    font-size: 22px;
    line-height: 1.2;
    font-weight: 400;
    color: #2d3033;
}

.team__prof {
    margin-bottom: 15px;

    font-family: Raleway;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #e84545;
}

.team__text {
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #6c7279;
    margin-bottom: 20px; /*Расстояние до иконок*/
}


/* ----------------------
-----Social Icons--------
---------------------------*/


.social {
    display: flex;
}

.social__item {
    display: flex;
    justify-content: center; /*По центру по горизонтали*/
    align-items: center; /*По центру по вертикали*/
    width: 40px;
    height: 40px;

    background: #fff;
    border: 1px solid #e8ecee;
    margin-right: 4px;

    transition: background .1s linear;
}

.social__item:hover {
    background: #e8ecee;
}

.social__item:hover .social__icon {
    fill: #000;
}

.social--footer {
    justify-content: center;
}

.social--footer .social__item {
    background: none;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
    background: transparent;
}

.social--footer .social__item:hover {
    background: #fff;
}

/*Подключили <!--SVG Sprite--> для того, чтоб можно было менять цвет и настраивать иконки. Ибо когда через имедж, то с нимим невозможно вхаимодействовавть как надо*/
.social__icon {
    fill: #c6cacc;  /*Цвет заливки для SVG*/
    display: block;
    height: 18px;

    transition: fill .1s linear;
}

.social--footer .social__icon  {
    fill: #fff;
}

/* ----------------------
----------Reviews--------
---------------------------*/


.reviews {
    background: #53354a;
    overflow: hidden; /*Прячет все, что вылезает за границы блока. Если картинки будут слишком большие*/
}

.reviews__item {
    display: flex;
    flex-wrap: wrap;
}

.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;

    transform: translateY(-50%);
}

.reviews__content {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}

.reviews__text {
    font-family: Cardo;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;

    margin-bottom: 25px;
}

.reviews__author {
    font-family: Raleway;
    font-size: 13px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
}


/* ----------------------
----------Download--------
---------------------------*/


.download {
    margin: 90px 0;
    text-align: center;
}

.download__title {
    font-family: Raleway;
    font-size: 28px;
    line-height: 1.2;
    font-weight: 300;
    color: #2d3033;

    margin-bottom: 15px;
}

.download__text {
    font-family: Raleway;
    font-size: 13px;
    line-height: 21px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2d3033;

    margin-bottom: 30px;
}


/* ----------------------
----------Footer--------
---------------------------*/

.footer {
    background: #3a3e64;
}

.footer__inner {
    padding-top: 70px;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}

.footer__block {
    width: 33%;
    padding: 0 15px;
    text-align: center;
}

.footer__title {
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;

    margin-bottom: 10px;
}

.footer__adress {
    font-style: normal;

    opacity: 0.5;
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #ffffff;
}

.footer__text {
    opacity: 0.5;
    font-family: Raleway;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
}


/* ----------------------
----------Copyright--------
---------------------------*/


.copyright {
    padding: 25px 0;
    background: #313454;
    text-align: center;
}

.copyright__text {
    font-family: Raleway;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #808080;
}

.copyright__text span {
    color: #fff;
}


/* ----------------------
----------Burger--------
---------------------------*/

.burger {
    display: none;
    padding: 9px 2px;

    background: none;
    border: 0;
    cursor: pointer;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;

    font-size: 0;
    color: transparent;
    position: relative;
}

.burger__item:before,
.burger__item:after {
    content: "";
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    z-index: 1;

    background: #fff;
}

.burger__item:before {
    top: -8px;
}

.burger__item:after {
    bottom: -8px;
}

/* ----------------------
----------Media--------
---------------------------*/

@media (max-width: 1300px) {
/* ------works-------*/
    .works__item {
        width: 50%;
    }
}




@media (max-width: 991px) {

/* ------nav-------*/
    .nav {
        display: none;
    }

/* ------burger-------*/
    .burger {
        display: block;
    }


/* ------intro-------*/
    .intro__title {
        font-size: 40px;
    }


/* ------features-------*/
    .features__item {
        width: 50%;
    }


/* ------Team-------*/
    .team__item {
        width: 50%;
        text-align: center;
    }

    .team__photo {
        margin-left: auto;
        margin-right: auto;
    }


/* ------Social-------*/
    .social {
        justify-content: center;
    }


    /* ------Reviews-------*/
    .reviews__photo {
        width: 100%;
        margin: 15px 0 40px;
        overflow: hidden;
    }
    .reviews__content {
        width: 100%;
        padding-left: 0;
        padding-bottom: 40px;
    }
    /* .reviews__img {
        min-width: 991px;
        right: -15px;
    } */
}









@media (max-width: 767px) {
    
    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
        padding-right: 50px;
        padding-left: 50px;
    }

    .intro__title {
        font-size: 30px;
    }

    .intro__subtitle {
        font-size: 16px;
        margin-bottom: 30px;
    }


    /* ------features-------*/
    .features {
        margin: 40px 0;
    }

    .features__item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    /* ------works-------*/
    .works__item {
        width: 100%;
        height: 300px;
    }

/* ------Team-------*/
    .team {
        margin: 60px 0 30px;
    }
    .team__item {
        width: 100%;
    }

/* ------Reviews-------*/
    .reviews__text {
        font-size: 25px;
    }

/* -----Download-------*/
    .download {
        margin-top: 50px;
        margin-bottom: 50px;
    }

/* -----Footer-------*/
    .footer__inner {
        padding-top: 30px;
        padding-left: 30px;
    }

    .footer__block {
        width: 100%;
        margin-bottom: 30px;
        padding-left: 0;
        padding-right: 0;
    }
    .footer__block:last-child {
        margin-bottom: 0;
    }

}





@media (max-width: 601px){
/* ------intro-------*/
.intro {
    padding-right: 30px;
    padding-left: 30px;
}

.intro__title {
    font-size: 25px;
}


.download__title {
    font-size: 26px;
}
.btn--long {
min-width: 260px;
}
}

@media (max-width: 520px) {
.reviews__img {
    right: -120px;
}
}